src/main/xsd/S124.xsd

<!--
Changelog
Version: 0.0.9
Revision date: 2018-03-20
 - Extensive revisions to aling with S-124CG Application Schema S-124 V0.2.1
 - Changes have mostly been annotated within the schema, with deletions commented out rather than removed.
 	
Version: 0.0.8
Revision date: 2017-12-13
 - the attribute's type as open enumeration has been assigned for GeneralArea, GeneralCategory, Country
 - attributes for NtMs have been added in the schema. Also new Geofeature type "S124_NoticeToMarinersPart" and new Information type "S124_NtMPreamble were cteated.
 based on the S-124NW-CG-15_2015-S-100 model
 
Version: 0.0.7
Revision date: 2017-05-04
 - Attribute GeneralArea has been assigned type as directory
 - Attribute extReferenceId has been added in the S124_FeatureType
 - attribute "inForceDate" was renamed in "cancellationTime" in the References Information Type.
 - Directory "countryType" has been extended by addition countries codes
 - New attribute S124_affectedChart has been added

Version: 0.0.6.1
Revision date: 2017-04-12
 - All reserved attributes for T&P NoticesToMariners have been removed. Remained Types and Attributes are related to the Navigational warning's content only.
 - Element's content has been simplified. Redudant elements (types) like AbstractWarningPart, S124_PortWarningPart have been deleted

Version: 0.0.6
Revision date: 2017-03-23
 - The references between The References and Information Notice Part, between the References and Navigational Warning Part were removed. 
 These Parts of Nav Warning may reference on the header of the Nav Warning as NW Preamble

Version: 0.0.5
Revision date: 2017-02-13
 - new attribute "inForceDate" was added in the References Information Type. This date-time is neeeded to define validity of message (in-force in bulletin)
 - new value "in-force" was added in the ReferenceType 

Version: 0.0.4
Revision date: 2017-02-09
 - type MRN was replaced in the parent elements: S124_FeatureType, S124_InformationType

Version: 0.0.3
Revision date: 2017-01-25
 - For atribute SourceDate minOccurs was changed on "0" instead of "1"
 - Atribute name was renamed from “navOrMetArea” in “NameOfSeries” 
 - Atribute name was renamed from “keySubject” in “Subject”
 - For atribute information in AbstractWarningPart minOccurs was changed on "0" instead of "1"
 - For atribute FixedDateRange in AbstractWarningPart maxOccurs was changed on "unbounded" instead of "1"

Version: 0.0.2
Revision date: 2017-01-16
 - Updated order for S124_NWPreamble for general category and title 
 - Updated order for S124_AbstractWarningPart
 - Added type MRN. Added MRN based identifiers for S124-messages
 - Added "S124_" at the beginning of names NWPreample, AbstractWarningPart, InformationNoticePart, References, NavigationalWarningPart, PortWarningPart, InformationType, FeatureType
 - Added attribute AreaAffected (The area affected by the warning. The geometric primitive must be a surface bounded by a polygon or circle by center point and radius as defined in S-100 Part 7.)
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:S100="http://www.iho.int/s100gml/1.0" 
	xmlns:s100_profile="http://www.iho.int/S-100/profile/s100_gmlProfile" 
	xmlns:gml="http://www.opengis.net/gml/3.2" xmlns="http://www.iho.int/S124/gml/1.0" targetNamespace="http://www.iho.int/S124/gml/1.0" elementFormDefault="unqualified" version="0.0.7">
	<!-- ============================================================================================= -->
	<!-- S100 XML/GML Schema for S-124 (Navigational Warnings).                                       -->
	<!-- ============================================================================================= -->
	<xs:annotation>
		<xs:documentation>Application schema for Navigational warnings sample dataset</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.iho.int/s100gml/1.0" schemaLocation="s100gmlbase.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="S100_gmlProfile.xsd"/>
	<xs:import namespace="http://www.iho.int/S-100/profile/s100_gmlProfile" schemaLocation="S100_gmlProfileLevels.xsd"/>
	<!-- =============================================== -->
	<!-- spatial property convenience types    -->
	<!-- =============================================== -->
	<xs:complexType name="PointOrSurface">
		<xs:choice>
			<xs:element ref="S100:pointProperty"/>
			<xs:element ref="S100:surfaceProperty"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CurveOrSurface">
		<xs:choice>
			<xs:element ref="S100:curveProperty"/>
			<xs:element ref="S100:surfaceProperty"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PointCurveSurface">
		<xs:choice>
			<xs:element ref="S100:pointProperty"/>
			<xs:element ref="S100:curveProperty"/>
			<xs:element ref="S100:surfaceProperty"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PointOrCurve">
		<xs:choice>
			<xs:element ref="S100:pointProperty"/>
			<xs:element ref="S100:curveProperty"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GM_Point">
		<xs:choice>
			<xs:element ref="S100:pointProperty"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GM_Curve">
		<xs:choice>
			<xs:element ref="S100:curveProperty"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GM_Surface">
		<xs:choice>
			<xs:element ref="S100:surfaceProperty"/>
		</xs:choice>
	</xs:complexType>
	<!-- ============================================================ -->
	<!-- complex attributes, feature, and information types           -->
	<!-- ============================================================ -->
	<xs:element name="S124_FeatureType" type="S124_FeatureTypeType" abstract="true" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="S124_FeatureTypeType" abstract="true">
		<xs:annotation>
			<xs:documentation>Generalized feature type which carry all the common attributes</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S100:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="id" type="MRN" minOccurs="1" maxOccurs="1"/>
					<!-- amended to have maxOccurs=1 from unbounded -->
					<xs:element name="extReferenceId" type="MRN" minOccurs="0" maxOccurs="unbounded"/>
					<!-- amend to featureReference -->
					<xs:element name="geometry" type="PointCurveSurface" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="areaAffected" type="PointCurveSurface" minOccurs="0" maxOccurs="unbounded"/>
					<!-- <xs:element name="radius" type="xs:float" minOccurs="0" maxOccurs="1"/> commented out because not in model -->
					<xs:element name="restriction" type="restrictionType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="S124_fixedDateRange" type="S124_fixedDateRangeType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="S124_featureName" type="S124_featureNameType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="S124_NavigationalWarningFeaturePart" type="S124_NavigationalWarningFeaturePartType" substitutionGroup="S124_FeatureType"/>
	<!-- name changed from S124_NavigationalWarningFeaturePart -->
	<xs:complexType name="S124_NavigationalWarningFeaturePartType">
		<xs:annotation>
			<xs:documentation> Navigation warning as described in the Joint manual S-53 of 2016. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S124_FeatureTypeType">
				<xs:sequence>
					<!-- <xs:element name="horizontalDatum" type="EPSGType" minOccurs="0" maxOccurs="1"/> ===attribute deleted since the WGS84 will be a convention and noted in metadata=== -->
					<!-- <xs:element name="Subject" type="S124_LocalizedTextType" minOccurs="0" maxOccurs="1"/> ===attribute deleted since same function is in S124_warningInformation=== -->
					<!-- <xs:element name="restriction" type="restrictionType" minOccurs="0" maxOccurs="1"/> ===moved to FeatureType=== -->
					<!-- <xs:element name="fixedDateRange" type="fixedDateRangeType" minOccurs="0" maxOccurs="unbounded"/> ===moved to FeatureType=== -->
					<!-- <xs:element name="header" type="gml:ReferenceType" minOccurs="1" maxOccurs="1"/> ===attribute deleted since same function is in S124_warningInformation=== -->
					<xs:element name="S124_warningInformation" type="S124_warningInformationType" minOccurs="1" maxOccurs="unbounded"/>
					<!-- add S124_warningInformation -->
					<xs:element name="header" type="gml:ReferenceType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="S124_NoticeToMarinersFeaturePart" type="S124_NoticeToMarinersFeaturePartType" substitutionGroup="S124_FeatureType"/>	<!-- name changed from S124_NoticeToMarinersPart -->
	<xs:complexType name="S124_NoticeToMarinersFeaturePartType">
		<xs:annotation>
			<xs:documentation> xxx </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S124_FeatureTypeType">
				<xs:sequence>
					<!-- <xs:element name="horizontalDatum" type="EPSGType" minOccurs="0" maxOccurs="1"/> ===attribute deleted since the WGS84 will be a convention and noted in metadata=== -->
					<!-- <xs:element name="Subject" type="S124_LocalizedTextType" minOccurs="0" maxOccurs="1"/> ===attribute deleted since same function is in S124_warningInformation=== -->
					<!-- <xs:element name="restriction" type="restrictionType" minOccurs="0" maxOccurs="1"/> ===moved to FeatureType=== -->
					<xs:element name="graphic" type="graphicType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="information" type="informationType" minOccurs="0" maxOccurs="unbounded"/>
					<!-- <xs:element name="listOfLightNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/> ===replaced by featureReference in FeatureType=== -->
					<!-- <xs:element name="fixedDateRange" type="fixedDateRangeType" minOccurs="0" maxOccurs="unbounded"/> ===moved to FeatureType=== -->
					<!-- <xs:element name="periodicDateRange" type="periodicDateRangeType" minOccurs="0" maxOccurs="unbounded"/> ===attribute deleted from model, as fixedDateRange is thought to be the only one needed -->
					<!-- <xs:element name="affectedCharts" type="S124_affectedChartType" minOccurs="0" maxOccurs="unbounded"/> ==moved to S124_Preamble=== -->
					<!-- <xs:element name="ENCFeatureReference" type="S124_ENCFeatureReferenceType" minOccurs="0" maxOccurs="unbounded"/> ===replaced by featureReference in FeatureType=== -->
					<xs:element name="header" type="gml:ReferenceType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="S124_InformationType" type="S124_InformationTypeType" abstract="true"/>
	<xs:complexType name="S124_InformationTypeType" abstract="true">
		<xs:annotation>
			<xs:documentation>Generalized information type which carry all the common attributes</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S100:AbstractInformationType">
				<xs:sequence>
					<xs:element name="id" type="MRN" minOccurs="1" maxOccurs="1"/>
					<!-- <xs:element name="provides" type="gml:ReferenceType" minOccurs="0" maxOccurs="1"/> === obsolete reference=== -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="S124_Preamble" type="S124_PreambleType" substitutionGroup="S124_InformationType"/>
	<!-- abstract="true"/> -->
	<xs:complexType name="S124_PreambleType" abstract="true">
		<xs:annotation>
			<xs:documentation>Generalized information type which carry identification, title, and other dataset header information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S124_InformationTypeType">
				<xs:sequence>
					<xs:element name="messageSeriesIdentifier" type="S124_messageSeriesIdentifierType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="S124_cancellationDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/> <!-- new attribute to give a cancellation date and time of a warning or notice -->
					<xs:element name="S124_publicationDate" type="xs:dateTime" minOccurs="1" maxOccurs="1"/> <!-- former issueDate -->
					<!-- <xs:element name="generalCategory" type="generalCategoryType" minOccurs="0" maxOccurs="1"/> === attribute renamed and moved to NW and NM preables === -->
					<xs:element name="STMgeneralArea" type="generalAreaType" minOccurs="0" maxOccurs="unbounded"/> <!-- attribute has new type; S124_areaLocation, and is moved to NW and NM preamble, not done here because of the special STM type, therefore renamed to not conflict with model version. maxOccur changed from 1 to unbounded -->
					<xs:element name="locality" type="S124_areaLocationType" minOccurs="0" maxOccurs="unbounded"/> <!-- attribute has new type; S124_areaLocation -->
					<xs:element name="title" type="S124_LocalizedTextType" minOccurs="0" maxOccurs="unbounded"/> <!-- maxOccur changed from 1 to unbounded -->
					<!-- <xs:element name="fixedDateRange" type="fixedDateRangeType" minOccurs="0" maxOccurs="unbounded"/> ===replaced by the publicationDate and cancellationDate attributes=== -->
					<xs:element name="S124_affectedChartPublications" type="S124_affectedChartPublicationsType" minOccurs="0" maxOccurs="unbounded"/> <!-- attribute has new type, past: S124_affectedChartType -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="S124_NWPreamble" type="S124_NWPreambleType" substitutionGroup="S124_Preamble"/>
	<xs:complexType name="S124_NWPreambleType">
		<xs:annotation>
			<xs:documentation> xxx </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S124_PreambleType">
				<xs:sequence>
					<xs:element name="generalArea" type="S124_areaLocationType" minOccurs="1" maxOccurs="unbounded"/> <!-- === moved from premble due to being mandatory for NW, still commented out due to the STM special enumerated list -->
					<xs:element name="warningHazardType" type="warningHazardTypeType" minOccurs="1" maxOccurs="unbounded"/> <!-- moved from premble due to being mandatory for NW -->
					<xs:element name="theWarningPart" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded"/> <!-- changed minOccurs to 0 since a NW may have only references (in-force lists) -->
					<xs:element name="theReferences" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="S124_NMPreamble" type="S124_NMPreambleType" substitutionGroup="S124_Preamble"/> <!-- changed name to match model -->
	<xs:complexType name="S124_NMPreambleType">
		<xs:annotation>
			<xs:documentation> Identification, title, and other dataset header information for temporary and preliminary notice to mariners.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S124_PreambleType">
				<xs:sequence>
					<xs:element name="generalArea" type="S124_areaLocationType" minOccurs="0" maxOccurs="unbounded"/> <!-- === moved from premble due to being mandatory for NW, but optional here -->
					<xs:element name="originalInformation" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
					<xs:element name="sourceAuthority" type="S124_LocalizedTextType" minOccurs="1" maxOccurs="1"/>
					<!-- <xs:element name="source" type="xs:string" minOccurs="1" maxOccurs="1"/> ===replaced by sourceAuthority=== -->
					<!-- <xs:element name="noticeToMarinerType" type="S124_typeOfNoticeToMarinersType" minOccurs="0" maxOccurs="unbounded"/> -->
					<xs:element name="theNoticePart" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded"/> <!-- changed minOccurs to 0 since a NM may have only references (in-force lists) -->
					<xs:element name="theReferences" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="warningHazardType" type="warningHazardTypeType" minOccurs="0" maxOccurs="unbounded"/> <!-- moved from premble due to being mandatory for NW but optional for NM -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="S124_NavigationalWarningInformationPart" type="S124_NavigationalWarningInformationPartType" substitutionGroup="S124_InformationType"/>
	<!-- changed name from S124_InformationNoticePart, is now limited to NW use -->
	<xs:complexType name="S124_NavigationalWarningInformationPartType">
		<xs:annotation>
			<xs:documentation> xxx </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S124_InformationTypeType">
				<xs:sequence>
					<!-- <xs:element name="Subject" type="S124_LocalizedTextType" minOccurs="0" maxOccurs="unbounded"/> ===attribute deleted since same function is in S124_warningInformation=== -->
					<!-- <xs:element name="graphic" type="graphicType" minOccurs="0" maxOccurs="unbounded"/> === attribute deleted, not permitted for NW === -->
					<xs:element name="S124_warningInformation" type="S124_warningInformationType" minOccurs="1" maxOccurs="unbounded"/>
					<!-- changed type to S124_warningInformation and amended minOccurs to 1 -->
					<xs:element name="S124_fixedDateRange" type="S124_fixedDateRangeType" minOccurs="0" maxOccurs="unbounded"/>
					<!-- <xs:element name="periodicDateRange" type="periodicDateRangeType" minOccurs="0" maxOccurs="unbounded"/> === attribute deleted, not used in model anymore === -->
					<xs:element name="header" type="gml:ReferenceType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="featureReference" type="S124_FeatureReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<!-- added to give option to reference objects, including light list numbers -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="S124_NoticeToMarinerInformationPart" type="S124_NoticeToMarinerInformationPartType" substitutionGroup="S124_InformationType"/>
	<!-- new type for NM -->
	<xs:complexType name="S124_NoticeToMarinerInformationPartType">
		<xs:annotation>
			<xs:documentation> xxx </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S124_InformationTypeType">
				<xs:sequence>
					<!-- <xs:element name="Subject" type="S124_LocalizedTextType" minOccurs="0" maxOccurs="unbounded"/> ===attribute deleted since same function is in information=== -->
					<xs:element name="graphic" type="graphicType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="information" type="informationType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="S124_fixedDateRange" type="S124_fixedDateRangeType" minOccurs="0" maxOccurs="unbounded"/>
					<!-- <xs:element name="periodicDateRange" type="periodicDateRangeType" minOccurs="0" maxOccurs="unbounded"/> === type removed from model === -->
					<xs:element name="header" type="gml:ReferenceType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="featureReference" type="S124_FeatureReferenceType" minOccurs="0" maxOccurs="unbounded"/> <!-- added to give option to reference objects, including light list numbers -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="S124_References" type="S124_ReferencesType" substitutionGroup="S124_InformationType"/>
	<xs:complexType name="S124_ReferencesType">
		<xs:annotation>
			<xs:documentation> xxx </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S124_InformationTypeType">
				<xs:sequence>
					<xs:element name="referenceType" type="S124_referenceTypeType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="messageReference" type="S124_messageSeriesIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
					<!-- for NW and NtM -->
					<!-- <xs:element name="noticeReference" type="S124_noticeSeriesIdentifierType" minOccurs="0" maxOccurs="unbounded"/> for NtM -->
					<!-- <xs:element name="cancellationTime" type="cancellationTimeType" minOccurs="0" maxOccurs="unbounded"/> === this function is now done ny cancellationDate in preamble-->
					<!-- <xs:element name="sourceIndication" type="sourceIndicationType" minOccurs="0" maxOccurs="unbounded"/> === removed from model === -->
					<xs:choice>
						<xs:element name="theWarning" type="gml:ReferenceType" minOccurs="1" maxOccurs="1"/>
						<xs:element name="theNotice" type="gml:ReferenceType" minOccurs="1" maxOccurs="1"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="graphicType">
		<xs:sequence>
			<xs:element name="pictorialRepresentation" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="pictureCaption" type="S124_LocalizedTextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Short description of the purpose of the image.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pictureInformation" type="S124_LocalizedTextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A set of information to provide credits to picture creator, copyright owner etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S124_areaLocationType">
		<xs:annotation>
			<xs:documentation>Name and identifier of an area locality.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="s124_locationIdentifier" type="MRN" minOccurs="0" maxOccurs="1"/>
			<xs:element name="S124_locationName" type="S124_LocalizedTextType" minOccurs="0" maxOccurs="1">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S124_featureNameType">
		<xs:annotation>
			<xs:documentation> xxx </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="displayName" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A statement expressing if a feature name is to be displayed in certain display settings or not.</xs:documentation>
					<xs:documentation>Indication: Boolean. A True value is an indication that the name is intended to be displayed.</xs:documentation>
					<xs:documentation>Remarks:</xs:documentation>
					<xs:documentation>Where it is allowable to encode multiple instances of feature name for a single feature instance, only one feature name instance can indicate that the name is to be displayed (display name set to True) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="language" type="ISO639-3" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The language is encoded by a character code following ISO 639-3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The individual name of a feature.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="geometry" type="PointCurveSurface" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>displayName must be 1 when used in association with geometry.</xs:documentation>
					<xs:documentation>geometry attribute can only be used when featureName is directly used by an NtM Part or NW Part</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="informationType">
		<xs:annotation>
			<xs:documentation>Provides textual information that cannot be provided using other allowable attributes for the feature, in a defined language. The information may be provided as a string in sub-attribute text, or by encoding the file name of a single external text file that contains the text in sub-attribute file reference.
Remarks:- The sub-attribute text should be used, for example, to hold the information that is shown on paper charts by cautionary and explanatory notes. No formatting of text is possible within the sub-attribute text. If formatted text is required then an associated text file referenced by the sub-attribute file reference must be used.
	- The sub-attribute file reference is generally used for long text strings or those that require formatting, however there is no restriction on the type of text (except for lexical level) that can be held in files referenced by sub-attribute file reference.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fileLocator" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The string encodes the location of a fragment of text or other information in a support file.
Remarks:- Application schemas must describe how the associated file is identified. The associated file will commonly be named in a file reference co-attribute of the same complex attribute.
	- Each DCEG must specify requirements for the format of the associated file and the semantics of file locator. For example, the value of file locator may be an HTML ID in an HTML file, line number in a text file) or a bookmark in a PDF file.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileReference" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The string encodes the file name of a single external text file that contains the text. Remarks: The attribute file reference is generally used for long text strings or those that require formatting, however there is no restriction on the type of text (except for lexical level) that can be held in files referenced by sub-attribute file reference.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="headline" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Words set at the head of a passage or page to introduce or categorize</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="language" type="ISO639-3" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ISO 639-3 value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="text" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A non-formatted digital text string.
Remarks:
The attribute should be used, for example, to hold the information that is shown on paper charts by short cautionary and explanatory notes. Therefore text populated in text must not exceed 300 characters.
Text may be in English or in a national language defined by the attribute language.
No formatting of text is possible within the sub-attribute text. If formatted text, or text strings exceeding 300 characters, is required, then the attribute file reference must be used.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S124_warningInformationType">
		<xs:annotation>
			<xs:documentation>Provides textual information that cannot be provided using other allowable attributes for the feature, in a defined language. The information may be provided as a string in sub-attribute text, or by encoding the file name of a single external text file that contains the text in sub-attribute file reference. </xs:documentation>
			<xs:documentation>Remarks: </xs:documentation>
			<xs:documentation>The sub-attribute text should be used, for example, to hold the information that is shown on paper charts by cautionary and explanatory notes. No formatting of text is possible within the sub-attribute text. If formatted text is required then an associated text file referenced by the sub-attribute file reference must be used. </xs:documentation>
			<xs:documentation>The sub-attribute file reference is generally used for long text strings or those that require formatting, however there is no restriction on the type of text (except for lexical level) that can be held in files referenced by sub-attribute file reference. </xs:documentation>
			<xs:documentation>Origin: S-101 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="headline" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Words set at the head of a passage or page to introduce or categorize</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="language" type="ISO639-3" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ISO 639-3 value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="text" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A non-formatted digital text string.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S124_LocalizedTextType">
		<xs:sequence>
			<xs:element name="language" type="ISO639-3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="text" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S124_fixedDateRangeType">
		<xs:annotation>
			<xs:documentation>Describes a single fixed period, as the date range between its sub-attributes.
Remarks: Sub-attributes date end and date start must have the calendar year encoded using 4 digits for the calendar year (CCYY). Month (MM) and day (DD) are optional.
(This definition merges the planned S-100 temporal model with the current S-101 DCEG definition of fixed date range.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="timeOfDayStart" type="xs:time" minOccurs="0" maxOccurs="1"/>
			<xs:element name="timeOfDayEnd" type="xs:time" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dateStart" type="S100_TruncatedDate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The start date or time of the interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateEnd" type="S100_TruncatedDate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The end date or time of the interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="periodicDateRangeType">
		<xs:annotation>
			<xs:documentation>This complex attribute describes the active period for a seasonal feature or information type. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateStart" type="S100_TruncatedDate" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The start date or time of the interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateEnd" type="S100_TruncatedDate" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The end date or time of the interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- obsolete type
	<xs:complexType name="cancellationTimeType">
		<xs:annotation>
			<xs:documentation>Describes a end date before that message is left in-force.
Remarks: Sub-attributes date end must have the calendar year encoded using 4 digits for the calendar year (CCYY). Month (MM) and day (DD) are optional.
(This definition merges the planned S-100 temporal model with the current S-101 DCEG definition of fixed date range.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="timeOfDayEnd" type="xs:time" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dateEnd" type="S100_TruncatedDate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The end date\time.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType> -->
	<xs:complexType name="S124_messageSeriesIdentifierType">
		<xs:annotation>
			<xs:documentation> xxx </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nameOfSeries" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<!-- n instead of N -->
			<xs:element name="typeOfWarning" type="S124_WarningType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="warningNumber" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<!-- <xs:element name="warningIdentifier" type="MRN" minOccurs="0" maxOccurs="1"/> ===intended to be an optional attribute to carry an external MRN for the whole NW or NtM=== -->
			<xs:element name="year" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="productionAgency" type="S124_LocalizedTextType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="country" type="countryType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- <xs:complexType name="S124_noticeSeriesIdentifierType">
		<xs:annotation>
			<xs:documentation> suggest to delete this type and use only S124_messageSeriesIdentifierType</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nameOfSeries" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="typeOfNoticeToMariners" type="S124_typeOfNoticeToMarinersType"
				minOccurs="1" maxOccurs="1"/>
			<xs:element name="noticeNumber" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="year" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="productionAgency" type="S124_LocalizedTextType" minOccurs="1"
				maxOccurs="unbounded"/>
			<xs:element name="country" type="countryType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType> -->
	<xs:complexType name="S124_ENCFeatureReferenceType">
		<xs:sequence>
			<xs:element name="ENCName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="featureID" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="editionNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="updateNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S124_FeatureReferenceType">
		<xs:sequence>
			<xs:element name="featureIdentifier" type="MRN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="listOfLightNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="S124_ENCFeatureReference" type="S124_ENCFeatureReferenceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="S124_affectedChartPublicationsType">
		<xs:sequence>
			<xs:element name="chartAffected" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="chartPublicationIdentifier" type="MRN" minOccurs="0" maxOccurs="1"/>
			<!-- new attribute to give a MRN identifier for affected chart or publication -->
			<xs:element name="internationalChartAffected" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="language" type="ISO639-3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="publicationAffected" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<!-- new attribute to give a affected publication -->
		</xs:sequence>
	</xs:complexType>
	<!-- replaced by S124_affectedChartPublications
	<xs:complexType name="S124_affectedChartType">
		<xs:sequence>
			<xs:element name="chartAffected" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="internationalChartAffected" type="xs:string" minOccurs="0"
				maxOccurs="1"/>
			<xs:element name="language" type="ISO639-3" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType> -->
	<!-- removed from model
	<xs:complexType name="sourceIndicationType">
		<xs:annotation>
			<xs:documentation>Content of featureName is source authority (reference) name</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="categoryOfAuthority" type="categoryOfAuthorityType" minOccurs="0"
				maxOccurs="1"/>
			<xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="featureName" type="featureNameType" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="reportedDate" type="S100_TruncatedDate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="source" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The publication, document, or reference work from which information comes or is acquired.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sourceType" type="sourceTypeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of source</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType> -->
	<xs:simpleType name="MRN">
		<xs:annotation>
			<xs:documentation>Marine Resource Name identifier, based on URN. Note that the NID, including the mrn: prefix can be no more than 31 characters long</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="urn:mrn:[A-Za-z0-9][A-Za-z0-9-]{0,27}:[A-Za-z0-9()+,\-.:=@;$_!*'%/?#]+"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ===obsolete===
	<xs:simpleType name="sourceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="report"> </xs:enumeration>
			<xs:enumeration value="graphic"> </xs:enumeration>
		</xs:restriction>
	</xs:simpleType> -->
	<xs:simpleType name="S124_referenceTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cancellation">
			</xs:enumeration>
			<xs:enumeration value="source reference">
			</xs:enumeration>
			<xs:enumeration value="repetiton">
			</xs:enumeration>
			<xs:enumeration value="update">
			</xs:enumeration>
			<xs:enumeration value="in-force">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!-- ===replaced by warningType===
	<xs:simpleType name="S124_typeOfWarningType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="local"> </xs:enumeration>
			<xs:enumeration value="coastal"> </xs:enumeration>
			<xs:enumeration value="sub-area"> </xs:enumeration>
			<xs:enumeration value="NAVAREA"> </xs:enumeration>
			<xs:enumeration value="Temporary"> </xs:enumeration>
			<xs:enumeration value="Preliminary"> </xs:enumeration>
		</xs:restriction>
	</xs:simpleType> -->
	<xs:simpleType name="S124_WarningType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="local navigational warning">
			</xs:enumeration>
			<xs:enumeration value="coastal navigational warning">
			</xs:enumeration>
			<xs:enumeration value="sub-area navigational warning">
			</xs:enumeration>
			<xs:enumeration value="NAVAREA navigational warning">
			</xs:enumeration>
			<xs:enumeration value="NAVAREA no warning">
			</xs:enumeration>
			<xs:enumeration value="sub-area no warning">
			</xs:enumeration>
			<xs:enumeration value="coastal no warning">
			</xs:enumeration>
			<xs:enumeration value="local no warning">
			</xs:enumeration>
			<xs:enumeration value="NAVAREA in force bulletin">
			</xs:enumeration>
			<xs:enumeration value="sub-area in force bulletin">
			</xs:enumeration>
			<xs:enumeration value="coastal in force bulletin">
			</xs:enumeration>
			<xs:enumeration value="local in force bulletin">
			</xs:enumeration>
			<xs:enumeration value="temporary notice to mariner">
			</xs:enumeration>
			<xs:enumeration value="preliminary notice to mariner">
			</xs:enumeration>
			<xs:enumeration value="miscellaneous notice to mariner">
			</xs:enumeration>
			<xs:enumeration value="permanent notice to mariner">
			</xs:enumeration>
			<xs:enumeration value="temporary and preliminary notice to mariner in force bulletin">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!-- <xs:simpleType name="S124_typeOfNoticeToMarinersType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="permanent"> </xs:enumeration>
			<xs:enumeration value="temporary"> </xs:enumeration>
			<xs:enumeration value="preliminary"> </xs:enumeration>
			<xs:enumeration value="miscellaneous"> </xs:enumeration>
		</xs:restriction>
	</xs:simpleType> -->
	<xs:simpleType name="EPSGType">
		<!-- suggest to delete since convention will be for all geometry to be WGS84 and this will be in metadata -->
		<xs:restriction base="xs:string">
			<xs:enumeration value="4326">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="generalAreaType">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Baltic sea">
					</xs:enumeration>
					<xs:enumeration value="Skagerrak">
					</xs:enumeration>
					<xs:enumeration value="Kattegat">
					</xs:enumeration>
					<xs:enumeration value="Lake Vanern and Trollhatte Canal">
					</xs:enumeration>
					<xs:enumeration value="The Sound">
					</xs:enumeration>
					<xs:enumeration value="The Belts">
					</xs:enumeration>
					<xs:enumeration value="Western Baltic">
					</xs:enumeration>
					<xs:enumeration value="Southern Baltic">
					</xs:enumeration>
					<xs:enumeration value="South-eastern Baltic">
					</xs:enumeration>
					<xs:enumeration value="Central Baltic">
					</xs:enumeration>
					<xs:enumeration value="Lake Malaren and Sodertalje Canal">
					</xs:enumeration>
					<xs:enumeration value="Northern Baltic">
					</xs:enumeration>
					<xs:enumeration value="Gulf of Riga">
					</xs:enumeration>
					<xs:enumeration value="Gulf of Finland">
					</xs:enumeration>
					<xs:enumeration value="Sea of Aland and Archipelago Sea">
					</xs:enumeration>
					<xs:enumeration value="Sea of Bothnia">
					</xs:enumeration>
					<xs:enumeration value="The Quark">
					</xs:enumeration>
					<xs:enumeration value="Bay of Bothnia">
					</xs:enumeration>
					<xs:enumeration value="Other lakes and canals">
					</xs:enumeration>
					<xs:enumeration value="Western Mediterranean Sea">
					</xs:enumeration>
					<xs:enumeration value="Shetland Islands">
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="other: [a-zA-Z0-9]+( [a-zA-Z0-9]+)*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="warningHazardTypeType">
		<!-- name changed from generalCategory -->
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="aids to navigation">
					</xs:enumeration>
					<xs:enumeration value="dangerous wreck">
					</xs:enumeration>
					<xs:enumeration value="unwieldy tow">
					</xs:enumeration>
					<xs:enumeration value="drifting hazard">
					</xs:enumeration>
					<xs:enumeration value="SAR and anti pollution operations">
					</xs:enumeration>
					<xs:enumeration value="newly discovered dangers">
					</xs:enumeration>
					<xs:enumeration value="route alterations or suspensions">
					</xs:enumeration>
					<xs:enumeration value="underwater operations">
					</xs:enumeration>
					<xs:enumeration value="pipe or cable laying operations">
					</xs:enumeration>
					<xs:enumeration value="seismic surveys">
					</xs:enumeration>
					<xs:enumeration value="research or scientific operations">
					</xs:enumeration>
					<xs:enumeration value="offshore structures">
					</xs:enumeration>
					<xs:enumeration value="radio navigation services">
					</xs:enumeration>
					<xs:enumeration value="special operations">
					</xs:enumeration>
					<xs:enumeration value="operating anomalies identified within ECDIS including ENC issues">
					</xs:enumeration>
					<xs:enumeration value="security-related requirements">
					</xs:enumeration>
					<xs:enumeration value="piracy">
					</xs:enumeration>
					<xs:enumeration value="tsunamis and other natural phenomena">
					</xs:enumeration>
					<xs:enumeration value="World Health Organization (WHO) health advisory information">
					</xs:enumeration>
					<xs:enumeration value="Sail Race Event">
					</xs:enumeration>
					<xs:enumeration value="military exercises">
					</xs:enumeration>
					<xs:enumeration value="other exercises">
					</xs:enumeration>
					<xs:enumeration value="in-force bulletin">
					</xs:enumeration>
					<!-- new value -->
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="other: [a-zA-Z0-9]+( [a-zA-Z0-9]+)*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="countryType">
		<!-- maybe this one can be combined with production agency? -->
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="SE">
					</xs:enumeration>
					<xs:enumeration value="RU">
					</xs:enumeration>
					<xs:enumeration value="GB">
					</xs:enumeration>
					<xs:enumeration value="DK">
					</xs:enumeration>
					<xs:enumeration value="FI">
					</xs:enumeration>
					<xs:enumeration value="NO">
					</xs:enumeration>
					<xs:enumeration value="EE">
					</xs:enumeration>
					<xs:enumeration value="LV">
					</xs:enumeration>
					<xs:enumeration value="LT">
					</xs:enumeration>
					<xs:enumeration value="PL">
					</xs:enumeration>
					<xs:enumeration value="DE">
					</xs:enumeration>
					<xs:enumeration value="ES">
					</xs:enumeration>
					<xs:enumeration value="US">
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string"> <!-- according to ISO 3166-alpha2 -->
					<xs:pattern value="\w{2}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="restrictionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="entry restricted">
			</xs:enumeration>
			<xs:enumeration value="entry prohibited">
			</xs:enumeration>
			<xs:enumeration value="area to be avoided">
			</xs:enumeration>
			<xs:enumeration value="stopping prohibited">
			</xs:enumeration>
			<xs:enumeration value="speed restricted">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!-- ===obsolete===
	<xs:simpleType name="categoryOfAuthorityType">
		<xs:annotation>
			<xs:documentation>The type of person, government agency or organisation, corporation, or private or publicly owned company entrusted or invested with powers of managing or controlling access or activity in an area.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="customs">
				<xs:annotation>
					<xs:documentation>The agency or establishment for collecting duties, tolls. (Merriam-Websters online Dictionary 23rd February 2006, amended).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="border control">
				<xs:annotation>
					<xs:documentation>The administration to prevent or detect and prosecute violations of rules and regulations at international boundaries (adapted from Merriam-Websters online Dictionary 23rd February 2006).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="police">
				<xs:annotation>
					<xs:documentation>The department of government, or civil force, charged with maintaining public order. (Adapted from OED)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="port">
				<xs:annotation>
					<xs:documentation>Person or corporation, owners of, or entrusted with or invested with the power of managing a port. May be called a Harbour Board, Port Trust, Port Commission, Harbour Commission, Marine Department (NP 100 8th Edition 14 Oct 2004)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="immigration">
				<xs:annotation>
					<xs:documentation>The authority controlling people entering a country.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="health">
				<xs:annotation>
					<xs:documentation>The authority with responsibility for checking the validity of the health declaration of a vessel and for declaring free pratique.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="coast guard">
				<xs:annotation>
					<xs:documentation>Organisation keeping watch on shipping and coastal waters according to governmental law; normally the authority with reponsibility for search and rescue.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="agricultural">
				<xs:annotation>
					<xs:documentation>The authority with responsibility for preventing infection of the agriculture of a country and for the protection of the agricultural interests of a country.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="military">
				<xs:annotation>
					<xs:documentation>A military authority which provides control of access to or approval for transit through designated areas or airspace.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="private company">
				<xs:annotation>
					<xs:documentation>A private or publicly owned company or commercial enterprise which exercises control of facilities, for example a callibration area.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="maritime police">
				<xs:annotation>
					<xs:documentation>A governmental or military force with jurisdiction in territorial waters. Examples could include Gendarmerie Maritime, Carabinierie, and Guardia Civil.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="environmental">
				<xs:annotation>
					<xs:documentation>An authority with responsibility for the protection of the environment.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="fishery">
				<xs:annotation>
					<xs:documentation>An authority with responsibility for the control of fisheries.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="finance">
				<xs:annotation>
					<xs:documentation>an authority with responsibility for the control and movement of money.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="maritime">
				<xs:annotation>
					<xs:documentation>A national or regional authority charged with administration of maritime affairs.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType> -->
	<!-- ===obsolete===
	<xs:simpleType name="sourceTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="international law">
				<xs:annotation>
					<xs:documentation>treaty, convention, or international agreement; or European Union law</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="publication issued by international organisation">
				<xs:annotation>
					<xs:documentation>Publication issued by an international administration</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="national law or regulation">
				<xs:annotation>
					<xs:documentation>legislation by a national government</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="publication issued by national administration">
				<xs:annotation>
					<xs:documentation>publication issued by a national administration</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="local law or regulation">
				<xs:annotation>
					<xs:documentation>law made by a national sub-division such as a state, province, or local government</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="publication issued by local administration">
				<xs:annotation>
					<xs:documentation>publication issued by a local administration, such as local government or port authority</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mariner report, confirmed">
				<xs:annotation>
					<xs:documentation>Reported by mariner(s) and confirmed by another source</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mariner report, not confirmed">
				<xs:annotation>
					<xs:documentation>reported by mariner(s) but not confirmed</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="industry publications and reports">
				<xs:annotation>
					<xs:documentation>shipping and other industry publication, including graphics, charts and web sites</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="remotely sensed images">
				<xs:annotation>
					<xs:documentation>information obtained from satellite images</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="photographs">
				<xs:annotation>
					<xs:documentation>information obtained from photographs</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="products issued by HO services">
				<xs:annotation>
					<xs:documentation>information obtained from products issued by Hydropgrahic Offices</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="news media">
				<xs:annotation>
					<xs:documentation>information obtained from news media</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="traffic data">
				<xs:annotation>
					<xs:documentation>information obtained from the analysis of traffic data</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType> -->
	<!-- =============================================== -->
	<!-- common types - consider defining a common -->
	<!-- =============================================== -->
	<xs:complexType name="S100_TruncatedDate">
		<xs:annotation>
			<xs:documentation>built in date types from W3C XML schema, implementing S-100 truncated date</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="gDay" type="xs:gDay"/>
			<xs:element name="gMonth" type="xs:gMonth"/>
			<xs:element name="gYear" type="xs:gYear"/>
			<xs:element name="gMonthDay" type="xs:gMonthDay"/>
			<xs:element name="gYearMonth" type="xs:gYearMonth"/>
			<xs:element name="date" type="xs:date"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="ISO639-3">
		<xs:annotation>
			<xs:documentation>stub for ISO 639-3 language codes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\w{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISO639-2">
		<xs:annotation>
			<xs:documentation>stub for ISO 639-2 language codes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\w{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISO3166-alpha2">
		<xs:annotation>
			<xs:documentation>stub for ISO 3166 alpha2 country codes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\w{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ============================================= -->
	<!-- types and elements for the dataset definition -->
	<!-- ============================================= -->
	<xs:complexType name="DatasetType">
		<xs:annotation>
			<xs:documentation>Dataset element for Navigational Warnings dataset as "GML document"</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="DatasetIdentificationInformation" type="S100:DataSetIdentificationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Dataset identification information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DatasetStructureInformation" type="S100:DataSetStructureInformationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Dataset structure information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="S100:Geometry" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Allows spatial objects to be located outside feature objects (for references, and compatibility with ISO 8211 encoding)</xs:documentation>
						</xs:annotation>
					</xs:group>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="imember" minOccurs="0" maxOccurs="unbounded" type="IMemberType">
							<xs:annotation>
								<xs:documentation>intended for S100 information types. Extension of GML practice, not addressed by ISO 19136.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="member" minOccurs="0" maxOccurs="unbounded" type="MemberType">
							<xs:annotation>
								<xs:documentation>intended for technical GML 3.2 requirement for making the dataset a "GML document" and clause 21.3 of the OGC GML standard</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- treatment of S-100 Information types is provisional, because GML does not have the concept, and they must be modeled as AbstractGML -->
	<xs:complexType name="MemberType">
		<xs:annotation>
			<xs:documentation>dataset member</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureMemberType">
				<xs:sequence>
					<xs:element ref="gml:AbstractFeature"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IMemberType">
		<xs:annotation>
			<xs:documentation>dataset member S-100 infotmation types</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureMemberType">
				<xs:sequence>
					<xs:element ref="S124_InformationType"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DataSet" type="DatasetType"/>
</xs:schema>

